
<header>
  <div class="logo-container">
    <img src="https://images.mid-day.com/images/images/2021/jul/Chitkara-b_d.jpg" alt="Logo" class="logo" />
  </div>
  <h2 class="header-logo">Placement Cell</h2>
  <ul>
    <% if(locals.user) { %>


        <ul class="nav">
          <li class="">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li> 
          <li class="">
            <a class="nav-link" aria-current="page" href="/student/add-student"
              >Add new Student</a
            >
          </li>
          <li class="">
            <a class="nav-link" href="/interview/add-interview"
              >Add an Interview</a
            >
          </li>
          <li class="">
            <a class="nav-link" href="/download">Download Report</a>
          </li>
          <li class="">
            <a class="btn btn-outline-secondary mx-2" href="/profile">
              <i class="fa-regular fa-user"></i>
              Hi, <%= user.name %></a
            >
          </li>
        </ul>

      

        
        <li>
          <a href="/sign-out">Sign Out</a>
        </li>

    <%} else { %>

      <li>
        <a href="/">Sign In</a>
      </li>
      <li>
        <a href="/sign-up">Sign Up</a>
      </li>
    
    <% } %>
    

  </ul>
</header>
<style>
  header {
    height: 10vh;
    background-color: #630902;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: 0 10%; }

    .logo-container {
      width: 100px; /* Adjust the width of the logo container */
    }
    .logo {
      width: 100%; /* Make the logo fill the container */
      height: auto; /* Maintain aspect ratio */
    }
    header .header-logo {
      font-size: 1.5rem; }
    header ul {
      display: flex;
      gap: 1rem;
      align-items: center; }
    header li {
      display: flex;
      gap: 1rem; }
    header a {
      list-style: none;
      color: #0044d4;
      background-color: white;
      padding: 8px 10px;
      text-decoration: none;
      border-radius: 5px;
      font-size: 0.9rem;
      font-weight: 400; }
  
</style>